.container{
    width: full;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightslategray;
}

h1{
    width: 200px;
    font-size: 134px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    text-align: center;
} 

button{
    padding: 10px 20px;
    margin: 10px;
}

 
